
.vscode/settings.json
backup/clone_and_load_waypoints/__init__.py
backup/clone_and_load_waypoints/__pycache__/waypoints.cpython-35.pyc
backup/clone_and_load_waypoints/__pycache__/waypoints.cpython-36.pyc
backup/clone_and_load_waypoints/clone_waypoints.py
backup/clone_and_load_waypoints/load_waypoints.py
backup/clone_and_load_waypoints/waypoints.py
backup/control.1/__init__.py
backup/control.1/__pycache__/cubic_spline_planner.cpython-36.pyc
backup/control.1/__pycache__/waypoints.cpython-36.pyc
backup/control.1/backup/CubicSpline/cubic_spline_planner.py
backup/control.1/backup/CubicSpline/Figure_1.png
backup/control.1/backup/CubicSpline/Figure_2.png
backup/control.1/backup/CubicSpline/Figure_3.png
backup/control.1/backup/main.py
backup/control.1/backup/model_predictive_speed_and_steer_control/__init__.py
backup/control.1/backup/model_predictive_speed_and_steer_control/animation.gif
backup/control.1/backup/model_predictive_speed_and_steer_control/model_predictive_speed_and_steer_control.py
backup/control.1/backup/model_predictive_speed_and_steer_control/notebook.ipynb
backup/control.1/clone_waypoints.py
backup/control.1/cubic_spline_planner.py
backup/control.1/mpc.py
backup/control.1/play.py
backup/control.1/waypoints.py
backup/control/__init__.py
backup/control/__pycache__/cubic_spline_planner.cpython-36.pyc
backup/control/__pycache__/waypoints.cpython-36.pyc
backup/control/backup/CubicSpline/cubic_spline_planner.py
backup/control/backup/CubicSpline/Figure_1.png
backup/control/backup/CubicSpline/Figure_2.png
backup/control/backup/CubicSpline/Figure_3.png
backup/control/backup/main.py
backup/control/backup/model_predictive_speed_and_steer_control/__init__.py
backup/control/backup/model_predictive_speed_and_steer_control/animation.gif
backup/control/backup/model_predictive_speed_and_steer_control/model_predictive_speed_and_steer_control.py
backup/control/backup/model_predictive_speed_and_steer_control/notebook.ipynb
backup/control/clone_waypoints.py
backup/control/cubic_spline_planner.py
backup/control/load_waypoints.py
backup/control/model_predictive_speed_and_steer_control.py
backup/control/waypoints.py
backup/groundtruth.py
backup/lidar_mapping.py
backup/pid/__init__.py
backup/pid/__pycache__/pid.cpython-36.pyc
backup/pid/__pycache__/waypoints.cpython-36.pyc
backup/pid/clone_waypoints.py
backup/pid/pid.py
backup/pid/run.py
backup/pid/waypoints.py
backup/settings.json
backup/settings_examples.json
race_control/__pycache__/car.cpython-36.pyc
race_control/__pycache__/control.cpython-36.pyc
race_control/__pycache__/pid.cpython-36.pyc
race_control/__pycache__/waypoints.cpython-36.pyc
